* {
  list-style: none;
  text-decoration: none;
}

a {
  color: rgb(71, 71, 71);
}

.container {
  border-bottom: 1px solid rgb(143, 143, 143);
}

.inner {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px;
}

.header-menu {
  display: flex;
  float: right;
  font-size: 17px;
  padding: 9px;
  align-items: center;
}

.menu {
  padding: 8px 16px;
  cursor: pointer;
}

.menu:hover {
  color: #1fa170;
}

@media screen and (max-width: 768px) {
  .header-menu {
    display: none;
  }

  .logo img {
    width: 120px;
  }
}
